[Desktop Entry]
Version=1.0
Type=Application
Name=IntelliJ IDEA Community Edition
Comment=Capable and Ergonomic IDE for JVM
Categories=Development;IDE;
Terminal=false
StartupWMClass=jetbrains-idea-ce
Exec=TO_BE_REPLACED/bin/idea.sh %f
Icon=TO_BE_REPLACED/bin/idea.png
